#gridPane{
    -fx-background-image: url("game_main_background.jpg");
    -fx-background-repeat: none;
    -fx-background-size: 846 634;
    -fx-background-position: center;
}

#score-text{
    -fx-font-size: 50px;
    -fx-fill: #fff;
    -fx-text-alignment: right;

}

#event-checker{
    -fx-padding: 100px;

}